<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telegram Login Example</title>
</head>
<body>
    <h1>Login via Telegram</h1>

    <script async src="https://telegram.org/js/telegram-widget.js?22"
        data-telegram-login="telereversbot"
        data-size="large"
        data-onauth="onTelegramAuth(user)"
        data-request-access="write">
    </script>


    <div>
        <h4 id="token" style="overflow-wrap: break-word">

        </h4>
    </div>



    <script type="text/javascript">




      function onTelegramAuth(user) {
        const userData = {
          id: user.id,
          first_name: user.first_name,
          username: user.username || '',
          photo_url: user.photo_url || '',
          auth_date : user.auth_date || '',
          hash : user.hash || '',


        };

        console.log(userData)


        fetch('https://eb31-185-53-228-200.ngrok-free.app/api/v1/user/user/', {
          method: 'POST',
          headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'ngrok-skip-browser-warning': 'true',
          },
          body: JSON.stringify(userData),
        })


        .then(response => {
          if (response.ok) {
            return response.json();
          }
          throw new Error('Network response was not ok.');
        })
        .then(data => {
          console.log('Success:', data);

          document.getElementById('token').textContent = JSON.stringify(data);
        })
        .catch(error => {
          console.error('Error:', error);
          alert('Failed to send user data.');
        });
      }
    </script>




</body>
</html>
